@font-face {
	font-family:Arvo;
	src: url('./Arvo-Regular.ttf');
	src: url('./Arvo-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Barlow;
	src: url('./Barlow-Regular.ttf');
	src: url('./Barlow-Regular.ttf') format('truetype');
}
@font-face {
	font-family:ComicNeue;
	src: url('./ComicNeue-Regular.ttf');
	src: url('./ComicNeue-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Dangrek;
	src: url('./Dangrek-Regular.ttf');
	src: url('./Dangrek-Regular.ttf') format('truetype');
}
@font-face {
	font-family:EncodeSans_Expanded;
	src: url('./EncodeSans_Expanded-Regular.ttf');
	src: url('./EncodeSans_Expanded-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Gidole;
	src: url('./Gidole-Regular.ttf');
	src: url('./Gidole-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Gidolinya;
	src: url('./Gidolinya-Regular.otf');
	src: url('./Gidolinya-Regular.otf') format('opentype');
}
@font-face {
	font-family:GoudyBookletter1911;
	src: url('./GoudyBookletter1911-Regular.ttf');
	src: url('./GoudyBookletter1911-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Jost;
	src: url('./Jost-Regular.ttf');
	src: url('./Jost-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Lato;
	src: url('./Lato-Regular.ttf');
	src: url('./Lato-Regular.ttf') format('truetype');
}
@font-face {
	font-family:NotoSans;
	src: url('./NotoSans-Regular.ttf');
	src: url('./NotoSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Now;
	src: url('./Now-Regular.otf');
	src: url('./Now-Regular.otf') format('opentype');
}
@font-face {
	font-family:Onest;
	src: url('./Onest-Light.ttf');
	src: url('./Onest-Light.ttf') format('truetype');
}
@font-face {
	font-family:OpenSans;
	src: url('./OpenSans-Regular-webfont.ttf');
	src: url('./OpenSans-Regular-webfont.ttf') format('truetype');
}
@font-face {
	font-family:OpenSauceOne;
	src: url('./OpenSauceOne-Light.ttf');
	src: url('./OpenSauceOne-Light.ttf') format('truetype');
}
@font-face {
	font-family:Oxygen;
	src: url('./Oxygen-Regular.ttf');
	src: url('./Oxygen-Regular.ttf') format('truetype');
}
@font-face {
	font-family:RedditMono;
	src: url('./RedditMono-Regular.ttf');
	src: url('./RedditMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family:RedditSansCondensed;
	src: url('./RedditSansCondensed-Bold.ttf');
	src: url('./RedditSansCondensed-Bold.ttf') format('truetype');
}
@font-face {
	font-family:RedditSans;
	src: url('./RedditSans-Regular.ttf');
	src: url('./RedditSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family:RedHatText;
	src: url('./RedHatText-Regular.ttf');
	src: url('./RedHatText-Regular.ttf') format('truetype');
}
@font-face {
	font-family:RobotoMono;
	src: url('./RobotoMono-Regular.ttf');
	src: url('./RobotoMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Slabo27px;
	src: url('./Slabo27px-Regular.ttf');
	src: url('./Slabo27px-Regular.ttf') format('truetype');
}
@font-face {
	font-family:StintUltraCondensed;
	src: url('./StintUltraCondensed-Regular.ttf');
	src: url('./StintUltraCondensed-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Ubuntu;
	src: url('./Ubuntu-Regular.ttf');
	src: url('./Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
	font-family:UbuntuSansMono;
	src: url('./UbuntuSansMono-Regular.ttf');
	src: url('./UbuntuSansMono-Regular.ttf') format('truetype');
}
@font-face {
	font-family:Virgil;
	src: url('./Virgil.woff2');
	src: url('./Virgil.woff2') format('woff2');
}
@font-face {
	font-family:YanoneKaffeesatz;
	src: url('./YanoneKaffeesatz-Regular.ttf');
	src: url('./YanoneKaffeesatz-Regular.ttf') format('truetype');
}
